<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilosPedido.css') }}">
</head>
<body>
    <div class="container">
        <!-- Barra lateral izquierda -->
        <div class="sidebar">
            <a href="#" class="profile">
                <img src="{{ url_for('static', filename='img/iconousuario.png') }}" alt="Perfil" class="profile-icon">
                <span>Perfil</span>
            </a>
            
            <a href="{{ url_for('empleados.mostrar_empleados') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/iconoemple.png') }}" alt="Empleados" class="icon">
                <span>Empleados</span>
            </a>
            
            <a href="{{ url_for('empleados.mostrar_empleados') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/iconoprovee.png') }}" alt="Proveedores" class="icon">
                <span>Tareas</span>
            </a>
            
            <a href="{{ url_for('clientes.mostrar_clientes') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/iconocliente.png') }}" alt="Clientes" class="icon">
                <span>Clientes</span>
            </a>
            
            <a href="{{ url_for('empleados.mostrar_empleados') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/iconoconfi.png') }}" alt="Configuración" class="icon">
                <span>Configuración</span>
            </a>
        </div>

        <!-- Barra de navegación superior -->
        <div class="main-content">
            <nav class="top-nav">
                <div class="nav-links">
                    <a href="{{ url_for('home.mostar_home') }}" class="nav-link">Inicio</a>
                    <a href="{{ url_for('pedidos.mostrar_pedidos') }}" class="nav-link">Pedidos</a>
                    <a href="{{ url_for('material.mostrar_material') }}" class="nav-link">Material</a>
                    <a href="{{ url_for('empleados.mostrar_empleados') }}" class="nav-link">Balance general</a>
                </div>
                <div class="logout">
                    <a href="login.html">
                        <img src="{{ url_for('static', filename='img/iconosalida.png') }}" alt="Logout" class="logout-icon">
                    </a>
                </div>
            </nav>
                <!-- Contenido principal -->
            <div class="content">
                <div class="content">
                    <h1>Pedidos</h1>
                    <div class="employee-buttons">
                        <a href="#" class="btn blue"><img src="{{ url_for('static', filename='img/iconRegistrar.png') }}"><span>Registrar pedido</span></a>
                        <a href="#" class="btn orange"><img src="{{ url_for('static', filename='img/cheque.png') }}"><span>Asociar material pedidos</span></a>
                        <a href="{{url_for('pedidos.control_pedidos') }}" class="btn green"><img src="{{ url_for('static', filename='img/iconoinforme.png') }}"><span>Control EstadoP</span></a>
                        <a href="#" class="btn purple"><img src="{{ url_for('static', filename='img/editar.png') }}"><span>Modificar pedido</span></a>
                        <a href="#" class="btn yellow"><img src="{{ url_for('static', filename='img/editar.png') }}"><span>Consultar Pedidos</span></a>
                    </div>
                    <a href="{{ url_for('home.mostar_home') }}" class="btn volver">Volver</a>
                </div>             
            </div> 
        </div>
    </div>
</body>
</html>